<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>784384238453-s6og0p74o4qkmrpea23b5klaep4c8chg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.784384238453-s6og0p74o4qkmrpea23b5klaep4c8chg</string>
	<key>API_KEY</key>
	<string>AIzaSyDMpbJlfx-DheiF8KHBDbionr_wLDMU_rs</string>
	<key>GCM_SENDER_ID</key>
	<string>784384238453</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bebop</string>
	<key>PROJECT_ID</key>
	<string>lingo-375714</string>
	<key>STORAGE_BUCKET</key>
	<string>lingo-375714.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:784384238453:ios:f2a1542321bc51554ce93c</string>
</dict>
</plist>